{% extends 'base.html.twig' %}
{% block style %}
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}
{% block body %}
    <h2>Serie's Details</h2>
    <div class="serie-details">
        <div class="serie-poster">
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Categorized in : {{ serie.genres }}</div>
            <div>Serie status : {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date("d-m-Y") }} to {{ serie.lastAirDate | date("d-m-Y") }}</div>
            <div>{{ serie.overview | nl2br }}</div>
            <div>
                <a class="link_button"><button value="1" class="like_button">Like</button></a>
                <a class="link_button"><button value="0" class="like_button">Dislike</button></a>
                <span id="nbLike">{{ serie.nbLike }} </span> likes
            </div>
            <section class="seasons">
                <h3>Seasons !</h3>
                {% for season in serie.seasons %}
                    <article>
                        <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ serie.name }} Season {{ season.number }}">
                        <div>
                            <h4>Season #{{ season.number }}</h4>
                            <div>{{ season.overview }}</div>
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>
    <div class="flex_div">
        <a class="link_button" href="{{ path('serie_update', {'id': serie.id}) }}">Update</a>
        <a class="link_button" href="{{ path('serie_remove', {'id': serie.id}) }}" onclick="return confirm('Are you sure to remove this serie : {{ serie.name }}')">Delete</a>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Details
{% endblock %}

{% block js %}
<script>
    //récupère mes boutons
    let buttons = Array.from(document.getElementsByClassName('like_button'))

    //boucle sur mes boutons
    buttons.forEach(function (elem) {

        //ajout d'évènement
        elem.addEventListener('click', function (){

            //préparation des données à envoyer
            let data = {like : this.value}

            //appel asynchrone avec fetch (1er param = URL, 2eme param = objet modalité d'envoie
            fetch('{{ path('api_serie_update', {'id' : serie.id}) }}',
                {method : 'PUT', body : JSON.stringify(data)})
                .then(function (response) {
                    return response.json()
                }).then(function (data) {
                    document.getElementById('nbLike').innerText = data.nbLike
            })
        })
    })
</script>
{% endblock %}

