<hr>
<nav>
    <ul>
        <li><a href="{{ path("main_home") }}">Home</a> </li>
        <li><a href="{{ path("main_test") }}">Test</a> </li>
        <li><a href="{{ path('serie_list') }}">List</a> </li>
        {% if app.user %}
            <li><a href="{{ path('serie_add') }}">Add New Serie</a> </li>
            <li><a href="{{ path('season_add') }}">Add New Season</a> </li>
            <li><a href="{{ path('app_logout') }}">Logout - {{ app.user.firstName }}</a> </li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a> </li>
            <li><a href="{{ path('app_register') }}">Register</a> </li>
        {% endif %}
    </ul>
</nav>
<hr>